
:root {
    --primary-color: #1E298E
}
body {
    font-family: "Nunito", sans-serif;
}
h1, h2 {
    font-weight: bold;
    color: var(--primary-color);
}
h1 {
    font-size: 72px;
    line-height: 1.2;
}
p {
    font-size: 16px;
    font-weight: normal;
}
.primary-button {
    border-radius: 50px;
    padding: 18px 30px;  
    font-size: 16px;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.primary-button:hover {
    color: var(--primary-color);
}
.hero {
    text-align: center;
    background-color:rgb(237 186 82 / 0.6);
    padding-top: 40px;
    padding-bottom: 50px;
}
.hero h2 {
    font-size: 24px;
}
.content-container {
    padding: 150px 20px;
}
.content-container h1 {
    font-size: 64px;
}
.content-container h2 {
    font-size: 22px;
}
.list-link {
    text-decoration: none;
    color: black;
}
.dinosaurs:hover {
    color: green;
}
.corridors:hover {
    color: rgb(0, 0, 0, 0.5);
}
.gallery img {
    border-radius: 5px;
    margin: 10px 5px;
}
.heading {
    text-align: center;
}
.contacts {
    margin: 70px;
}
.contact-link {
    text-decoration: none;
    color: var(--primary-color);
}
@media (max-width: 991px) {
    .info-section {
        text-align: center;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 48px;
    }
    .theme {
        text-align: center;
    }
}
